h1{
    font-size: 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}
.product {
    border: 1px solid;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px white;
}
.product img{
    width: 200px;
}
@media screen and (max-width: 1080px) {

    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {

    .grid{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 1080px) {

    .product img{
        width: 300px;
    }

}
